*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.bg-table {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/hotel-wallpaper-black.png");
  border-radius: 15px;
  box-shadow: 0 10px 15px #000;
}
.bg-table th {
  color: rgb(20, 248, 217);
}

.bg-table td {
  color: #c7c7c7;
  font-size: 1.1rem;
  font-weight: 600;
}

.bg-table tr:hover {
  background-color: rgba(163, 163, 163, 0.2);
  transition: all .4s;
}

.bg-btn {
  text-decoration: none;
  font-size: 1.2rem;
  padding: 5px 20px;
  color: #fff;
  font-weight: 700;
  background-color: rgb(23, 131, 61);
  width: fit-content;
  border-radius: 30px;
  text-align: center;
  border: none;
  box-shadow: 0 10px 15px rgba(255, 255, 255, 0.313);
}

.bg-btn:hover {
  color: #fff;
}

.totalGastado {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
}

.form {
  padding: 30px 15px;
  color: #fff;
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/hotel-wallpaper-black.png");
  border-radius: 15px;
  font-weight: 700;
  font-size: 1.2rem;
  box-shadow: 0 10px 15px #000;
}



